.tab {
    padding: 6px 12px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;

    button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: .3s;

        &:hover {
            background-color: #ddd;
        }
    }

    button.active {
        background-color: #ccc;
    }
}

.tabcontent {
    position: relative;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    animation: fadeEffect 1s;
    width: 30%;

    &__close {
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 20px;
    }
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}